footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
  cursor: pointer;
}

.footer-icons__desc {
  margin-top: 5px;
  font-size: 10px;
}

@keyframes icons-doong-doong {
  0% {
    transform: translatey(0px);
  }
  30% {
    transform: translatey(-10px);
  }
  70% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.footer-icons__img {
  width: 35px;
}

.footer-icons__img:hover {
  width: 35px;
  animation: 1s icons-doong-doong;
}
